<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>529919218490-vdulkrb19kqqolp0pv5i6iui28fnfs2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529919218490-vdulkrb19kqqolp0pv5i6iui28fnfs2n</string>
	<key>API_KEY</key>
	<string>AIzaSyDF6AyKHnN7B9E9FpM_sRm8nACIq7N397E</string>
	<key>GCM_SENDER_ID</key>
	<string>529919218490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.srp</string>
	<key>PROJECT_ID</key>
	<string>msrp-b0a86</string>
	<key>STORAGE_BUCKET</key>
	<string>msrp-b0a86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529919218490:ios:d6f56cf7a43f1c98</string>
	<key>DATABASE_URL</key>
	<string>https://msrp-b0a86.firebaseio.com</string>
</dict>
</plist>